#booking-modal {
    font-family: 'Gotham Screensmart';
    font-size: 12px;
    z-index: 99999;
}

#booking-modal header {
    display: none;
}

#booking-modal input {
    padding: 5px 10px;
}

#booking-modal-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.choose-time .form-inline {
    max-height: 200px;
    overflow-y: scroll;
}

#booking-modal .modal__btn {
    background-color: #671E75;
    color: white;
}

#booking-modal .modal__btn:focus, #booking-modal .modal__btn:hover {
    transform: unset;
    color: white;
}

#timezone-container {
    text-align: center;
    margin-bottom: 15px;
}

#selected-times-container {
    background: #f9f9f9;
    padding: 15px;
    margin: 30px 0;

    display: none;
}

#booking-modal .instructions {
    text-align: left;
    font-weight: bold;
}

.choose-date-times {
    text-align: center;
}

.choose-date-times.choose-date-times {
    text-align: left;
}

.choose-date-time .calendar-next {
    float: right;
}

.choose-date-time .date {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: -5px;
    background-color: inherit;
    -webkit-padding-end: unset;
    padding-inline-end: unset;
    -webkit-padding-start: unset;
    padding-inline-start: unset;
    padding: 0;
    border: none;
    -o-border-image: none;
    border-image: none;
    border-image-width: 0;
}

.choose-date-time .date-heading {
    text-align: center;
    /* padding: 15px; */
    font-size: inherit;
    border: none;
    -o-border-image: none;
    border-image: none;
    margin-bottom: 0;
    background-color: #671E75;
    color: #ffffff;
    margin-bottom: 10px;
}

.calendar-days fieldset:first-child .date-heading {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.calendar-days fieldset:last-child .date-heading {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

#booking-modal-content .calendar-next:hover,
#booking-modal-content .calendar-previous:hover,
.choose-date-time .choose-date-times .choose-time input[type="radio"]+label:hover,
.choose-date-time .date .choose-time-actions,
.date .choose-time input[type="radio"]:checked+label,
.choose-date-time .date-head-text {
    /* border-color: #BF6726;
    background-color: #BF6726; */
    /* color: #BF6726; */
}

/* .choose-date-time .choose-time label {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.choose-date-time .choose-time label:hover, .date .choose-time input[type="radio"]:checked+label {
    background-color: #C6C6C6 !important;
} */

.choose-date-time .date-head-text {
    text-transform: uppercase;
    color: #313131;
    font-size: 12px;
    letter-spacing: .05em;
    display: none;
}

.choose-date-time .day-of-week {
    font-weight: 700;
    text-transform: capitalize;
}

.choose-date-time .date-secondary {
    color: #ffffff;
    font-size: 14px;
}

.choose-date-time .choose-time {
    position: relative;
    text-align: center;
    display: block;
}

.choose-date-time .choose-time .time-selection {
    display: none;
}

/* input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
} */

.choose-date-time .choose-time label,
#booking-modal-content .calendar-next,
#booking-modal-content .calendar-previous {
    background-color: #e88d21;
    color: #ffffff;
    font-family: 'Gotham Screensmart';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    /* border: 1px solid var(--primary); */
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .3s;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;

    /* padding: 7.5px 15px;
    margin: 7.5px 0;
    cursor: pointer;
    position: relative; */
}

.choose-date-time .choose-time label {
    background-color: #fff;
    border: 1px solid #C6C6C6;
    color: #000;
    max-width: 72px;
    width: 100%;
    padding: 10px;
}

.choose-date-time .choose-time label:hover,
.choose-date-time .choose-time input[type="radio"]:checked+label {
    background-color: #e88d21;
    color: #ffffff;
    border: 1px solid #e88d21;
}

.calendar-days {
    display: flex;
    justify-content: space-around;
}


